h1{
    font-size: 4em;
    text-align: center ;
    align-items: center;
    font-family: 'Arial', sans-serif;
    color: rgb(20, 102, 102);
}

header{
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    height: 100px;
}